<% if logged_in?%>
    <script id="current-user" type="text/javascript">
        window.user = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>

<script id="bootstrap-img" type="text/javascript">
    window.loginPicture = "<%=image_url("robinhood-login-min.png")%>"
    window.catPicture = "<%=image_url("cat.png")%>"
    window.phonePicture = "<%=image_url("two-phones.png")%>"
    window.magPicture = "<%=image_url("search.png")%>"
</script>

<main id="root"> root </main>
