<% if logged_in?%>
    <script id="current-user" type="text/javascript">
        window.user = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>

<script id="bootstrap-img" type="text/javascript">
    window.loginPicture = "<%=image_url("robinhood-login-min.png")%>"
    window.catPicture = "<%=image_url("cat.png")%>"
    window.phonePicture = "<%=image_url("two-phones.png")%>"
    window.magPicture = "<%=image_url("search.png")%>"
    window.arrows = "<%=image_url("arrows.svg")%>"
    window.coins = "<%=image_url("coins.svg")%>"
    window.spiny = "<%=image_url("spiny.png")%>"
    window.waves = "<%=image_url("waves.svg")%>"
    window.whitePhone = "<%=image_url("white-phone.png")%>"
    window.manyPhones = "<%=image_url("many-phones.png")%>"
</script>

<main id="root"> root </main>
